body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#inactive-row {
    color: rgb(207, 203, 203);
}

#low-quantity,
#stock-type-exit {
    color: red;
}

#stock-type-entry {
    color: rgb(15, 204, 15);
}